<!doctype html>
<html>
  <head>
    <title><%=pageTitle%></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="css/styles.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="landing">
      <div class="container">
        <ul class="nav-list">
          <% for (let item of nav) { %>
            <li><a class="<%= item.title === 'home' ? 'active' : '' %>" href="<%=item.link%>"><%=item.title%></a></li>
          <% } %>
        </ul>
      </div>
    </section>
  </body>
</html>